# some directories and files to ignore
/Plots
/plots
/Extra_Plots
/archive
/LaTeX
/Simulated
/output
/logs_n_err
/tmp
**/sim_*/**
/Junk_Output
slurm_*
test*
output/
Notes*
logs/
# plots
*.pdf
*.png
# output files
*.nex
*.iqtree
*.ckp.gz
*.mldist
*.bionj
*.treefile
*.nwk
*.phy
*.out
*.err
*.log
*.tre
*.trees
cluster_output/
# RevBayes and R history files
history.txt
.Rhistory

# mac identifier file
.DS_Store



