# some directories to ignore
/Plots
/plots
/Extra_Plots
/extra_files
/LaTeX
/Simulated
/output
/logs_n_err
/tmp
**/sim_*/**
/Junk_Output
slurm_*

# mac identifier file
.DS_Store

# plots
*.pdf
*.png

# output files
*.out
*.err
*.log
*.tre
*.trees
cluster_output/

# RevBayes and R history files
history.txt
.Rhistory
